* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: $main-font;
    font-size: 0.9em;
    letter-spacing: 1px;
}

@media screen and (min-width: 1600px) {
    body {
        font-size: 1em;
    }
}

.overflow-hidden {
    overflow: hidden;
}

ul, ol {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul, menu, dir {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a, button {
    cursor: pointer;
}

:focus {
    outline: none;
}