@media screen and (min-width: 768px) {
    .nav-mobile {
        display: none;
    }
}

.nav-mobile {
    text-align: right;
    line-height: 60px;
    margin-right: 5%;
}

.mobile {
    display: inline-block;
    margin-left: 10px;
}

.hamburger {
    background-color: transparent;
    border: none;
}

.bar1, .bar2, .bar3 {
    background-color: $light-font;
    width: 25px;
    height: 3px;
    margin: 3px 0;
    transition: 0.4s;
}

    /* Rotate first bar */
.change-bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px) ;
    transform: rotate(-45deg) translate(-4px, 5px) ;
}

    /* Fade out the second bar */
 .change-bar2 {
    opacity: 0;
 }

    /* Rotate last bar */
.change-bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px) ;
    transform: rotate(45deg) translate(-4px, -4px) ;
}

.nav-list-mobile-wrapper {
    display: none;
    position: absolute;
    background-color: $dark;
    height: 100%;
    width: 100%;
    z-index: 2;
}