.nav-info-wrapper {
    display: none;
    margin: 0;
    background-color: $main-color;
    height: 25px;
    text-align: right;
}

@media screen and (min-width: 820px) {
    .nav-info-wrapper {
        display: block;
    }
}

.nav-info {
    text-align: center;
    line-height: 25px;
    font-size: 0.8em;
    margin: 0 5%;
}

.nav-info li, .nav-list li {
    display: inline-block;
}

.nav-info-item {
    margin: 0 10px;
}

.nav-info-item i {
    margin-right: 5px;
}

@media screen and (min-width: 1600px) {
    .nav-info-wrapper {
        height: 30px;
    }
    .nav-info {
        line-height: 30px;
    }
}

.nav {
    width: 100%;
    height: 60px;
    background-color: $dark;
    color: $light-font;
    font-size: 0.8em;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.6);
}

.logo-wrapper {
    display: none;
    height: 30px;
    float: left;
    margin: 4% 5%;
}

@media screen and (min-width: 360px) {
    .logo-wrapper {
        height: 40px;
        margin: 10px;
        margin-left: 5%;
    }
}

.show-logo {
    display: block;
}

.blocked-logo {
    display: block;
}

.nav-list-wrapper {
    display: none;
    float: right;
    margin: 0 5% 0 0;
    line-height: 56px;
}

@media screen and (min-width: 820px) {
    .nav-list-wrapper {
        display: block;
    }
}

.nav-list-item {
    margin: 0 12px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-list-item:hover {
    border-bottom: 4px solid $main-color;
}

.nav-list-item:last-child:hover, .nav-list-item.lang:hover {
    border-bottom: none;
    cursor: auto;
}

.active {
    border-bottom: 4px solid $main-color;
}

.img-lang {
    width: 20px;
}

.lang button {
    border: none;
    background-color: transparent;
    color: $light-font;
    margin-left: 5px;
}

.lang-options {
    display: none;
    position: absolute;
    background-color: $dark;
    width: 60px;
    margin-left: -20px;
    text-align: center;
    margin-top: 4px;
    border-top: 1px solid $shadow-font;
}

.show-lang {
    display: block;
}

.fb-btn {
    width: 25px;
    height: 25px;
    border: 2px solid $accent-color;
    border-radius: 3px;
    background-color: $accent-color;
    color: $light-font;
    cursor: pointer;
}

.fb-btn:hover {
    background-color: lighten($accent-color, 10%);
    border-color: lighten($accent-color, 10%);
}

@media screen and (min-width: 1024px) {
    .nav-info {
        text-align: right;
        margin: 0 10% 0 0;
    }
    .nav {
        font-size: initial;
    }
    .logo-wrapper {
        margin-left: 10%;
    }
    .nav-list-wrapper {
        margin-right: 10%;
    }
    .fb-btn {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 1600px) {
    .nav {
        height: 80px;
    }
    .nav-list-wrapper {
        line-height: 76px;
    }
    .logo-wrapper {
        width: 200px;
        height: 60px;
    }
}