$dark: #312F2F;
$main-color: #fb3;
$light-font: #EAEAEA;
$shadow-font: darken($light-font, 40%);
$main-font: 'Play', sans-serif;
$accent-color: #124E78;

// 1. #1E3888 cobalt
// 2. #006BA6 not bad blue
// 3. #0496FF light blue
// 4. #124E78 nice dark blue